#app {
  height:100%;
  background-color: #F4F8FB;
} 
.app {
  height:100%;
}
.app-header{
  position: fixed;
  width: 100%;
  top:0;
}
main{
  width: 1200px;
  height: 100%;
  padding-top: 84px;
  padding-bottom: 20px;
  margin:0 auto;
  &.app-body{
    display: flex;
  }
  .app-body-left {
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 4px;
  }
  .app-body-content {
    flex: 1;
    margin:0 10px;
    background-color: #FFFFFF;
    border-radius: 4px;
  }
  .app-body-right {
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 4px;
    &-top {
      border-bottom: 1px solid #F1F6FD;
    }
  }
}